@charset "UTF-8";
/*переменные var*/
/*примеси(мексины) mixin*/
/*база main*/
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
}

button {
  font-family: inherit;
  font-size: inherit;
  background-color: transparent;
  border: none;
}

.wrap {
  max-width: 1140px;
  margin: 0 auto;
  /* outline: 1px solid red; */
  /* background-color: red; */
  /* min-height: 75px; */
}

.container {
  padding: 20px calc(50% - 1140px/2);
}

.hidden {
  visibility: hidden;
  position: absolute;
  left: -99999px;
  width: 1px;
  height: 1px;
}

/* шапка header*/
.header {
  background-color: #222;
  min-height: 75px;
  padding: 18px 0;
}

.header-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-left {
  width: 111px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-search {
  padding-top: 10px;
}

.header-right {
  width: 168px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#menu {
  display: none;
}

.menu-btn {
  background-color: gold;
}

.nav {
  background-color: #FFFFFF;
  -webkit-box-shadow: 5px 5px 5px 5px #222;
          box-shadow: 5px 5px 5px 5px #222;
  display: none;
  height: 764px;
  top: 75px;
  width: 232px;
  position: absolute;
  right: 0;
}

#menu:checked ~ .nav {
  display: block;
}

.close-btn {
  position: absolute;
  top: 16px;
  right: 16px;
}

.nav-heading {
  margin-top: 37px;
  margin-left: 50px;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}

.nav-title {
  list-style: none;
  margin-top: 24px;
  margin-left: 33px;
  margin-bottom: 12px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #F16D7F;
}

.nav-item {
  list-style-type: none;
  text-decoration: none;
}

.nav-link {
  text-decoration: none;
  margin-left: 55px;
  margin-bottom: 11px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
}

.header-account {
  fill: #FBFBFB;
}

.header-account:hover {
  fill: #F16D7F;
}

/* заголовок title*/
.title {
  min-height: 760px;
  background-color: #F1E4E6;
}

.title-column {
  height: 92px;
  width: 12px;
  background-color: #F16D7F;
}

.title-wrap {
  min-height: 760px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  background-image: url("../img/title-bg.png");
  background-repeat: no-repeat;
  background-position: -200px;
}

.heading {
  width: 400px;
  margin-left: 5px;
  margin-right: 95px;
  font-weight: 900;
  font-size: 48px;
}

.heading-small {
  font-weight: 700;
  font-size: 32px;
}

.heading-red {
  color: #F16D7F;
}

/* категории товаров categories */
.categories {
  padding-top: 65px;
  padding-bottom: 96px;
}

.categories-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.categories-item {
  width: 360px;
  height: 260px;
  background: #C4C4C4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.categories-accesories {
  width: 100%;
  height: 180px;
  margin-top: 30px;
  background-image: url("../img/accesories.jpg");
}

.categories-women {
  background-image: url("../img/for-women.jpg");
}

.categories-men {
  background-image: url("../img/for-men.jpg");
}

.categories-kids {
  background-image: url("../img/for-kids.jpg");
}

.categories-text {
  font-weight: 400;
  font-size: 16px;
  color: #FFFFFF;
}

.categories-title {
  font-weight: 700;
  font-size: 24px;
  color: #F16D7F;
}

/* карточки товаров products */
.products-wrap {
  padding-bottom: 95px;
  padding-top: 95px;
}

.products-title {
  text-align: center;
  font-size: 30px;
  color: #222222;
  margin-bottom: 8px;
}

.products-text {
  text-align: center;
  font-size: 14px;
  color: #9F9F9F;
  margin-bottom: 48px;
}

.products-list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.products-item {
  position: relative;
  background-color: #F8F8F8;
  width: 360px;
  margin-bottom: 30px;
}

.products-name {
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
  margin-top: 24px;
  margin-left: 18px;
  margin-right: 18px;
  margin-bottom: 13px;
}

.products-desc {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5D5D5D;
  margin-left: 18px;
  margin-right: 18px;
  margin-bottom: 18px;
}

.products-price {
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F;
  margin-left: 18px;
  margin-right: 18px;
  margin-bottom: 20px;
}

.products-overlay {
  position: absolute;
  background: rgba(58, 56, 56, 0.86);
  top: 0;
  left: 0;
  width: 100%;
  height: 420px;
  opacity: 0;
  -webkit-transition: 1s;
  transition: 1s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.products-item:hover .products-overlay {
  opacity: 1;
}

.products-overlay-btn {
  border: 1px solid #FFFFFF;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  padding: 14px 16px 13px 13px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.products-overlay-btn:hover {
  border: 1px solid #F16D7F;
  color: #F16D7F;
}

.products-overlay-btn svg {
  fill: #FFFFFF;
  margin-right: 10px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.products-overlay-btn:hover svg {
  fill: #F16D7F;
}

.products-center {
  text-align: center;
  margin-top: 18px;
}

.products-btn {
  border: 1px solid #F16D7F;
  width: 212px;
  padding: 14px 28px;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F;
  text-decoration: none;
}

.products-btn:hover {
  color: #FFFFFF;
  background-color: #F16D7F;
}

.products-btn:active {
  opacity: 0.5;
}

/* преимущества advantaes */
.advantaes {
  background: #222;
  padding-top: 103px;
}

.advantaes-wrap {
  height: 341px;
}

.advantaes-list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.advantaes-item {
  width: 360px;
  text-align: center;
}

.advantaes-heading {
  font-style: normal;
  font-weight: normal;
  font-size: 19.96px;
  line-height: 24px;
  color: #FBFBFB;
  padding-top: 19px;
  padding-bottom: 16px;
}

.advantaes-text {
  font-weight: 300;
  line-height: 17px;
  color: #FBFBFB;
}

/* обратная связь feedback */
.feedback {
  height: 448px;
  background-image: url("../img/feedback-bg.jpg");
  background-size: cover;
  /* opacity: 0.5; */
}

.feedback-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 360px;
  height: 225px;
}

.figure-text {
  font-weight: normal;
  font-size: 20px;
  text-align: center;
  color: #222224;
}

.figure-img {
  padding-bottom: 30px;
}

.feedback-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.feedback-heading {
  font-weight: 700;
  font-size: 24px;
  color: #222224;
}

.feedback-text {
  font-weight: 400;
  font-size: 18px;
  color: #222224;
}

.subscribe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 32px;
}

.subscribe-field {
  border: none;
  background: #E1E1E1;
  padding: 20px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.subscribe-field:focus {
  background: grey;
  border: none;
  outline: none;
}

.subscribe-field::-webkit-input-placeholder {
  color: #000;
  font-family: inherit;
}

.subscribe-field:-ms-input-placeholder {
  color: #000;
  font-family: inherit;
}

.subscribe-field::-ms-input-placeholder {
  color: #000;
  font-family: inherit;
}

.subscribe-field::placeholder {
  color: #000;
  font-family: inherit;
}

.subscribe-btn {
  border: none;
  background-color: #F16D7F;
  color: #fff;
  padding: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  cursor: pointer;
}

.subscribe-btn:hover {
  background-color: red;
}

.subscribe-btn:active {
  opacity: 0.5;
}

/* подвал footer */
.footer {
  min-height: 79px;
  background-color: #222;
  padding-top: 24px;
  padding-bottom: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-text {
  color: #FBFBFB;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.social-link {
  color: #222;
  background-color: #FBFBFB;
  margin-right: 10px;
  font-size: 16px;
  width: 32px;
  height: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
}

.social-link:hover {
  background-color: #F16D7F;
  color: #fff;
}

.social-link:active {
  background-color: red;
  color: #222;
  opacity: 0.5;
}

/*catalog new arrivals*/
.arrivals {
  min-height: 148px;
  background: #F8F3F4;
}

.arrivals-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.heading-arrivals {
  font-weight: normal;
  font-size: 24px;
  color: #F16D7F;
  padding-top: 59px;
}

.pagin-arrivals {
  padding-top: 65px;
}

.pagin-links {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #636363;
  text-decoration: none;
}

/*arrivals filter*/
.filter-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 51px;
}

.filter-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.filter-title {
  font-weight: 600;
  font-size: 18px;
  color: #000000;
}

.filter-img {
  padding-left: 11px;
}

#filter-left {
  display: none;
}

#filter-left:checked ~ .nav-filter-left {
  display: block;
}

.nav-filter-left {
  background-color: #FFFFFF;
  -webkit-box-shadow: 5px 5px 5px 5px #222;
          box-shadow: 5px 5px 5px 5px #222;
  display: none;
  height: 764px;
  top: 75px;
  width: 232px;
  position: absolute;
  top: 300px;
  z-index: 999;
}

.filter-right {
  padding-right: 350px;
}

.filter-right-text {
  font-size: 18px;
  color: #6F6E6E;
  text-decoration: none;
}

.filter-right-img {
  padding-left: 10px;
  padding-right: 28px;
}

.catalog-pagination {
  min-height: 43px;
  text-align: center;
}

.pagination {
  width: 283px;
  border: 1px solid #EBEBEB;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.page-item {
  list-style-type: none;
}

.page-link {
  text-decoration: none;
}

.pagination-img {
  width: 8px;
  height: 14px;
}

/*product slider*/
.slider-wrap {
  width: 1140px;
  margin: 0 auto;
  border: 1px solid red;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider {
  background-color: #F7F7F7;
  padding-bottom: 64px;
}

.slider-img {
  border: 3px solid cyan;
  /*вся картинка видна*/
}

.slider-btn {
  background-color: grey;
  color: #fff;
  padding: 10px;
  border: 1px solid #000;
}

.slider-btn:hover {
  color: pink;
  border-color: pink;
  background-color: lightgray;
}

.slider-btn:active {
  background-color: #000;
}

.about-wrap {
  border: 2px solid red;
  background: white;
  margin-top: -64px;
  /* чтобы блок был над, а не под */
  text-align: center;
}

.product-title {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #F16D7F;
  margin-top: 64px;
}

.product-line {
  margin-top: 12px;
}

.product-subtitle {
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  color: #4D4D4D;
  margin-top: 12px;
}

.product-text {
  width: 555px;
  margin: 0 auto;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #5E5E5E;
  margin-top: 48px;
}

.product-price {
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #EF5B70;
  margin-top: 32px;
}

.product-line-2 {
  margin-top: 62px;
}

.filter-product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.filter-product-text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
  text-decoration: none;
  margin-top: 65px;
}

.filter-product-img {
  padding-left: 9px;
  padding-right: 23px;
  margin-top: 70px;
}

.products-about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.products-about-btn {
  border: 1px solid #F16D7F;
  font-size: 14px;
  line-height: 17px;
  color: #F16D7F;
  padding: 14px 56px 13px 13px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  margin-top: 48px;
  margin-bottom: 60px;
}

.products-about-btn:hover {
  border: 1px solid #F16D7F;
  color: #FFFFFF;
  background-color: #F16D7F;
}

.products-about-btn svg {
  fill: #F16D7F;
  margin-right: 23px;
  margin-left: 23px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.products-about-btn:hover svg {
  fill: #FFFFFF;
}
/*# sourceMappingURL=style.css.map */