/*переменные var*/
@import "_var.scss";

/*примеси(мексины) mixin*/
@import "_mixin.scss";

/*база main*/
@import "_main.scss";

/* шапка header*/
@import "blocks/header";

/* заголовок title*/
@import "blocks/title";

/* категории товаров categories */
@import "blocks/categories";

/* карточки товаров products */
@import "blocks/products";

/* преимущества advantaes */
@import "blocks/advantaes";

/* обратная связь feedback */
@import "blocks/feedback";
   
/* подвал footer */
@import "blocks/footer";

/*catalog new arrivals*/
.arrivals{
    min-height: 148px;
    background: #F8F3F4;
}

.arrivals-wrap{
    
    display: flex;
    justify-content: space-between;
}

.heading-arrivals{
    font-weight: normal;
    font-size: 24px;
    color: #F16D7F;
    padding-top: 59px;
}

.pagin-arrivals{
    padding-top: 65px;
}

.pagin-links{
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #636363;
    text-decoration: none;
    
}

/*arrivals filter*/
.filter-wrap{
    display: flex;
    justify-content: space-between;
    padding-top: 51px;
}

.filter-left{
    display: flex;
}

.filter-title{
    font-weight: 600;
    font-size: 18px;
    color: #000000;
}

.filter-img{
    padding-left: 11px;
}

.filter-right{
    padding-right: 350px;
}
.filter-right-text{
    font-size: 18px;
    color: #6F6E6E;
    text-decoration: none;
}

.filter-right-img{
    // width: 10px;
    // height: 5px;
    padding-left: 10px;
    padding-right: 28px;
}

.catalog-pagination{
    // width: 283px;
    min-height: 43px;
    text-align: center;
    
    
    
}
 .pagination{
    width: 283px;
    border: 1px solid #EBEBEB;
    
     display: flex;
     justify-content: center;
//     align-items: center;
//     // text-align: center;
//     // text-decoration: none;
 }
.page-item{
    list-style-type: none;
    
}
.page-link{
    text-decoration: none;
    // list-style-type: none;

}
.pagination-img{
    width: 8px;
    height: 14px;
}

/*product slider*/
$shift: 64px;

.slider-wrap {
	width: 1140px;
	margin: 0 auto;
	border: 1px solid red;
    display: flex;
	justify-content: space-between;
	align-items: center;
}

.slider {
	background-color: #F7F7F7;
	
	// position: relative;
	padding-bottom: $shift;
	
		&-img {
			border: 3px solid cyan; /*вся картинка видна*/
		}
	
		&-btn {
		background-color: grey;
		color: #fff;
		padding: 10px;
		border: 1px solid #000;
		// position: absolute;
			&:hover {
				color: pink;
				border-color: pink;
				background-color: lightgray;
			}
			&:active {
				background-color: #000;
			}
			
			// &-left {
			// 	left: 5px;
			// }
			
			// &-right {
			// 	right: 5px;
			// }
	}
}

.about-wrap {
    border: 2px solid red;
	background: white;
	margin-top: - $shift;
	// position: relative; 
	/* чтобы блок был над, а не под */
    text-align: center;
}

.product-title{
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: $main-pink;
    margin-top: 64px;
}

.product-line{
    margin-top: 12px;
}
.product-subtitle{
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    color: #4D4D4D;
    margin-top: 12px;
}

.product-text{
    width: 555px;
    margin: 0 auto;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #5E5E5E;
    margin-top: 48px;
}

.product-price{
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    color: #EF5B70;
    margin-top: 32px;
}

.product-line-2{
    margin-top: 62px;
}

.filter-product{
    display: flex;
    justify-content: center;
    
    

}
.filter-product-text{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #6F6E6E;
    text-decoration: none;
    margin-top: 65px;
}
.filter-product-img{
    padding-left: 9px;
    padding-right: 23px;
   margin-top: 70px;
}

.products-about{
    display: flex;
    justify-content: center;
    align-items: center;
}

.products-about-btn{
    border: 1px solid $main-pink;
    font-size: 14px;
    line-height: 17px;
    color: $main-pink;
    padding: 14px 56px 13px 13px;
    display: flex;
    align-items: center;
    transition: 0.4s;
    margin-top: 48px;
    margin-bottom: 60px;
    &:hover{
        border: 1px solid $main-pink;
        color: #FFFFFF;
        background-color: $main-pink;
    }
}
.products-about-btn svg{
    fill: $main-pink;
    margin-right: 23px;
    margin-left: 23px;
    transition: 0.4s;
}

.products-about-btn:hover svg{
    fill: #FFFFFF;
}